.form {
    background-color: #8954ba;
    position: relative;
    min-height: 100vh;
    width: 100%;
    z-index: 0;
    user-select: none;
}

.blob-wrapper {
    height: 100vh;
    width: 100vw;
}

.blob-wrapper svg{
    height: 100%;
    width: 100%;
}

.form-component {
    font-size: 3em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    animation-name: fadein;
    animation-delay: 0.2s;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    color: #f8f8f8;
}

.form-header {
    position: relative;
    width: 50vw;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 0.5em;
}

.country-selector {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 80px 4px 10px;
    background-color: rgba(26, 26, 26, 0.15);
    text-align: center;
    border-radius: 5px;
    margin: 0 1em 0 1em;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: #f8f8f8;
    font-size: 0.60em;
}

.dob {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

.dob select {
    padding: 4px 80px 4px 10px;
    background-color: rgba(26, 26, 26, 0.15);
    text-align: center;
    border-radius: 5px;
    margin: 0 1em 0 1em;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: #f8f8f8;
    font-size: 0.60em;
}

.form-btn {
    padding: 4px 80px 4px 80px;
    background-color: rgba(26, 26, 26, 0.15);
    text-align: center;
    border-radius: 5px;
    margin: 0 1em 0 1em;
}

.form-btn span {
    font-family: 'Montserrat', sans-serif;
    color: #f8f8f8;
}

.left {
    float: left;
}

.right {
    float: right;
}

.disabled {
    display: none;
}

.enable {
    display: inline-block;
}

.btn-wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.85em;
    min-height: 200px;
}

.expat-job-list {
    position: relative;
    flex-direction: column
}

.btn-group {
    display: flex;
    justify-content: space-around;
    position: relative;
    font-size: 0.85em;
}

.back-btn {
    position: absolute;
    animation-name: fadein;
    animation-delay: 0.2s;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    cursor: pointer;
    z-index: 9999;
}

.back-btn svg{
    height: auto;
    width: 1.3em;
}

.plan-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.height-weight {
    display: inline-flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
}

.height-weight input {
    margin: 0 20px 0 20px;
    padding: 4px 40px 4px 40px;
    background-color: rgba(26, 26, 26, 0.15);
    text-align: center;
    border-radius: 5px;
    margin: 0 1em 0 1em;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: #f8f8f8;
    font-size: 0.60em;
}

.height-weight input::placeholder {
    opacity: 1;
    color: #f8f8f8;
}

.height-weight input::placeholder:focus {
    opacity: 0;
}

.toggled-height-weight {
    margin: -5px 0px 20px 0px;
    left: 50%;
    transform: translateX(-50%);
}

.toggled-height-weight input {
    margin: 0 20px 0 20px;
    padding: 4px 40px 4px 40px;
    background-color: rgba(26, 26, 26, 0.15);
    text-align: center;
    border-radius: 5px;
    margin: 0 1em 0 1em;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: #f8f8f8;
    font-size: 0.60em;
}

.toggled-height-weight input::placeholder {
    opacity: 1;
    color: #f8f8f8;
}

.toggled-height-weight input::placeholder:focus {
    opacity: 0;
}

.proceed-btn {
    margin-top: 20px;
    font-size: 0.8em;
    position: relative;
    width: max-content;
    cursor: pointer;
    background-color: rgba(26, 26, 26, 0.15);
    border-radius: 15px;
    padding: 8px 40px 8px 40px;
}

.proceed-btn:hover {
    opacity: 0.6;
}

.family-member {
    padding: 4px 10px 4px 0.5em;
    background-color: rgba(26, 26, 26, 0.15);
    text-align: center;
    border-radius: 5px;
    margin: 0 1em 0 1em;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: #f8f8f8;
    font-size: 0.60em;
    position: relative;

}

.add-remove-btn-wrapper {
    display: flex;
    position: relative;
    justify-content: space-around;
}

.family-btn-wrapper {
    flex-direction: column;
}


@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*desktop media query*/
@media screen and (min-width: 500px) {
    .center {
        left: 50%;
        transform: translateX(-50%); 
    }
}

/*mobile media query*/
@media screen and (max-width: 500px) {
    .blob-wrapper {
        display: none;
    }

    .form-component {
        font-size: 7vw;
    }

    .btn-wrapper {
        padding-top: 1em;
    }

    .form-btn {
        padding: 0.4em 2em 0.4em 2em;
        background-color: rgba(26, 26, 26, 0.15);
        text-align: center;
        border-radius: 5px;
        margin: 0 1em 0 1em;
    }

    .dob select {
        padding: 0.4em 2em 0.4em 0.5em;
        background-color: rgba(26, 26, 26, 0.15);
        text-align: center;
        border-radius: 5px;
        margin: 0 1em 0 1em;
        font-family: 'Montserrat', sans-serif;
        border: none;
        color: #f8f8f8;
        font-size: 0.60em;
    }

    .height-weight input {
        margin: 0 20px 0 20px;
        padding: 0.4em 0.7em 0.4em 0.7em;
        background-color: rgba(26, 26, 26, 0.15);
        text-align: center;
        border-radius: 5px;
        margin: 0 1em 0 1em;
        font-family: 'Montserrat', sans-serif;
        border: none;
        color: #f8f8f8;
        font-size: 0.60em;
    }

    .toggled-height-weight {
        justify-content: space-between;
    }

    .toggled-height-weight input {
        padding: 0.4em 0.3em 0.4em 0.3em;
        background-color: rgba(26, 26, 26, 0.15);
        text-align: center;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
        border: none;
        color: #f8f8f8;
        font-size: 0.60em;
    }

    .country-selector {
        padding: 0.4em 0 0.4em 0.5em;
        left: 0;
        transform: none;
    }

    .dob-family-row {
        display: flex;
        flex-direction: column;
    }

    .proceed-btn {
        margin-top: 20px;
        font-size: 0.8em;
        position: relative;
        width: max-content;
        cursor: pointer;
        background-color: rgba(26, 26, 26, 0.15);
        border-radius: 15px;
        padding: 0.4em 1em 0.4em 1em;
    }

    .family-member {
        padding: 0.4em 2em 0.4em 0.5em;
        background-color: rgba(26, 26, 26, 0.15);
        text-align: center;
        border-radius: 5px;
        margin: 1em 1em 0 1em;
        font-family: 'Montserrat', sans-serif;
        border: none;
        color: #f8f8f8;
        font-size: 0.60em;
    }

    .family-row-wrapper {
        flex-direction: column
    }

    .family-btn-wrapper {
        flex-direction: column
    }

    .center {
        left: 50%;
        transform: translateX(-50%); 
    }
}