.phone-box{
    padding-left: 20px; 
    padding-bottom: 10px;
}
.econfirm-box{
    width: 40%;
    padding-right:50px;
    float:right;
    padding-bottom: 10px;
}
.email-box{
    width: 50%;
    padding-left: 20px;
    float: left;
    padding-bottom: 10px;
}
.bank-box{
    width: 40%;
    padding-right:50px;
    float:right;
    padding-bottom: 10px;
}
.method-box{
    width: 50%;
    padding-left: 20px;
    float: left;
    padding-bottom: 10px;
}
.postcode-box{
    width: 40%;
    padding-right:50px;
    float:right;
    padding-bottom: 10px;
}
.state-box{
    width: 50%;
    padding-left: 20px;
    float: left;
    padding-bottom: 10px;
}
.address-box{
    padding-left: 20px; 
    padding-bottom: 10px;
}

.dob-box{
    padding-left: 20px;
    padding-bottom: 10px;
}

.name-box{
    width: 50%;
    padding-left: 20px;
    float: left;
    padding-bottom: 10px;
}

.ic-box{
    width: 40%;
    padding-right:50px;
    float:right;
    padding-bottom: 10px;
}

.form-plan-title{
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
}

.payment-method-sgmnt{
    height: 30px;
    text-indent:30px;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #7030A0;
}

.payment-method-table{
  
    width: 700px;
    height: 100px;
}

.personal-details-table{

    width: 700px;
}

.payment-information-sgmnt{
    height: 30px;
    text-indent:30px;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #7030A0;
}
.payment-info-table{
    width: 700px;
}
.your-plan-txt{
    border-top-left-radius: 50px;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    color: white;

}

.personal-details-txt{
    height: 30px;
    text-indent:30px;
    border-top-left-radius: 50px;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #7030A0;
}

.form-component-quote {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    animation-name: fadein;
    animation-delay: 0.2s;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    color: #f8f8f8;
}

.plan-div {
    padding: 100px 0 20px 0;
}

.user-div {
    padding: 100px 0 20px 0;
}


.content-box {
    z-index: -1;
    background-color: #F2F2F2;
    width:1105px;
    height: 550px;
    border-color: transparent;
    border-radius:33px 33px 33px 33px;
    margin: 0 0 0 250px ;
    font-size: 12px;
    color : #1a1a1a;
  
 }   

 .form-box {
    background-color: #F2F2F2;
    width:800px;
    height: 600px;
    border-style: solid;
    border-radius:33px 33px 0 0;
    margin: 0 0 0 320px ;
    font-size: 12px;
    color : #1a1a1a;
  
 }   

 .top-box {
    float:top;
    height:30px;
    width: 800px;
    margin:0;
    border-radius: 100px 100px 0 0;
    background-color: #7030A0;
    
}

.constribution-box {
    float:top;
    height:30px;
    width: 800px;
    margin:0;
    border-radius: 0 0 0 0;
    background-color:#7030A0;
}

    .middle-box{
        float:top;
        height:30px;
        width: 800px;
        margin:0;
        border-radius: 0 0 0 0;
        background-color: #7030A0;
    }

    .left-box {
        border-right: 5px solid;
        border-right-color: #FBBBB4;
        float:left;
        height: 550px;
        width: 700px;
        margin:0;
        border-radius: 30px 0 0 0;
        background-color: transparent;
        
 }

    .right-box {
        font-family: 'Montserrat', sans-serif;
        float:right;
        height:30px;
        width: 400px;
        border-radius: 0 100px 0 0;
        background-color: #7030A0;
    }

 .plan-box {
    background-color: #fff;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-radius: 25px;
    padding: 20px;
    top: 50%;
    left: 50%;
 }

 .table {
    font-family: arial, sans-serif;
    width: 100%;
 }

 td, th {
    text-align: left;
    padding: 8px;
  }

/*.form{
    margin: 35px;
} */

 .input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
} 


.started-btn {
  position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    display: inline-block;
    cursor: pointer;
}

.individual-plan {
    position:relative;
    font-size: 20px;
    color: #1a1a1a;
    margin: 0 20px 0 20px;
    width: 330px;
    border-radius: 50px;
}


.plan-header {
    background-color: #7030A0 ;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width:250px;
    padding: 20px 40px 20px 40px;
    text-align: center;
    font-size: 1.5em;
}

.plan-price {
    width:250px;
    padding: 20px 40px 20px 40px;
    text-align: center;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.plan-price span {
    
    font-size: 0.65em;
    font-weight: 400;
}

.plan-annual-limit {
    background-color: white;
    padding: 20px 40px 10px 40px;
    text-align: center;
    width:250px;
    text-align: center;
    white-space: nowrap;
}

.plan-info {
    font-family: 'Montserrat', sans-serif;
    width:250px;
    text-align: justify;
    position: relative;
    font-size: 0.8em;
    padding: 20px 0 20px 0;
    left: 55%;
    transform: translateX(-55%)
}

.plan-info li {
    padding: 2px 0 2px 0;
}

.choose-plan-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    display: inline-block;
    cursor: pointer;
}

.submit-btn {
    left: 20%;
    position: relative;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #004EFF;
    display: inline-block;
    color : white;
    cursor: pointer;
}
.change-btn {
    left: 10%;
    position: relative;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #004EFF;
    display: inline-block;
    color : white;
    cursor: pointer;
}

.proceed-btn {
    left: 40%;
    position: relative;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #004EFF;
    display: inline-block;
    color : white;
    cursor: pointer;
}

.getstarted-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 10px;
    background-color: #00028b;
    display: inline-block;
    color: #f8f8f8;
    font-family: "Arial"
    
}

.choose-plan-btn:hover {
    opacity: 0.8;
}

@media screen and (min-width: 500px) {
    .form-component-quote {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}


/*mobile media query*/
@media screen and (max-width: 500px) {
    .form-header-wrapper {
        padding-top: 2em;
    }

    .form-div {
        background-color: #f8f8f8;
        font-size: 20px;
        color: #1a1a1a;
        margin: 0.5em 20px 0.5em 20px;
        padding: 20px 40px 20px 40px;
        width: 70vw;
        border-radius: 5px;


    }

    .form-label {
        color : #1a1a1a;
       font-size: 15px;
    }

    .plan-div {
        padding: 20px 0 20px 0;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }    
    
    .user-div {
        padding: 20px 0 20px 0;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }   

    .individual-plan {
        
        font-size: 20px;
        color: #1a1a1a;
        margin: 0.5em 20px 0.5em 20px;
        padding: 20px 40px 20px 40px;
        width: 70vw;
        border-radius: 5px;
    
    }

    .form-component-quote {
        font-size: 2em;
        position: relative;
        font-family: 'Montserrat', sans-serif;
        animation-name: fadein;
        animation-delay: 0.2s;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        color: #f8f8f8;
    }
}