.second-seg-background-wrapper {
    position: relative;
    background-color: #8954ba;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    font-family: 'Montserrat', sans-serif;
}

.why-emedic {
    font-weight: 200;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: #f8f8f8;
}

.why-emedic-table {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #f8f8f8;
}

/*desktop media query*/
@media screen and (min-width: 500px) {
    .why-emedic {
        top: 3rem;
        font-size: 5vw;
    }
    
    .why-emedic-table {
        top: 15rem;
        width: 90vw;
        height: 65vh;
    }

    .emedic-icons {
        display: inline-block;
        text-align: center;
        width: 15vw;
        height: 15vw;
        margin: 0.25em 0.55em 0.25em 0.55em;
    }

    .emedic-icons-svg svg{
        width: 7em;
        height: auto;
        margin-bottom: 18px;
    }
    
    .emedic-icons span {
        display: block;
        font-size: 1.6em;
    }
}

/*mobile media query*/
@media screen and (max-width: 500px) {
    .why-emedic {
        top: 1.5rem;
        font-size: 10vw;
    }

    .why-emedic-table {
        top: 6rem;
        width: 80vw;
    }

    .emedic-icons {
        display: inline-block;
        text-align: center;
        width: 22vw;
        height: 22vw;
        margin: 5vw 1vw 5vw 1vw;
    }

    .emedic-icons-svg svg{
        width: 16vw;
        height: 16vw;
    }
    
    .emedic-icons span {
        display: block;
        font-size: 3vw;
    }
}